@tailwind base;
/* h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
} */
strong {
  @apply font-bold;
}

@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy", sans-serif;
}
/* @media screen and (max-width:800px) {
  
} */

/* Custom scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #FF6600;
  /* background-color: #4D148C; */
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #4D148C; 
  /* background: #FF6600;  */
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* background: #FF6600;  */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  /* background-color: #4D148C; */
  border-radius: 50px;
}