@tailwind base;
/* h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
} */
strong {
  @apply font-bold;
}

@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy", sans-serif;
}
/* @media screen and (max-width:800px) {
  
} */